.menuContainer {

  justify-content: space-around;
  align-content: flex-start;
}

.menuItem {
  display: flex;
  padding: 10px;
  width: 77%;
  justify-content: center;
  color:black;
}

.menuItem:hover{
  /*text-decoration: underline;*/
  border-bottom: #D7D7D7;
  border-bottom-width:3px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-style: solid;
  color: black;
}

.menuItem:focus{
  border-bottom: #909090;
  border-bottom-width:3px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-style: solid;
  color:black;
}


.headerContainer {
  display: flex;
  flex-flow: row wrap;

}

.logo {
  justify-content: flex-start;
  height: 30px;
  background-color: rgba(211, 211, 211, 0.2);
}

a{
  text-decoration: none;
}

.liMenu{
list-style-type: none;
}

.immagineLogo{
  height:50px;
}




