.menuContainer {
  justify-content: space-around;
  align-content: flex-start;
}

.menuItem {
  display: flex;
  padding: 10px;
  width: 77%;
  justify-content: center;
  color: #61dbfb;
}

.menuItem:hover {
  border-bottom: #61dbfb;
  border-bottom-width: 2px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-style: solid;
  color: #b6eefd;
}

.menuItemVisited{
  display: flex;
  padding: 10px;
  width: 77%;
  justify-content: center;
  color: #b6eefd;
  border-bottom: #61dbfb;
  border-bottom-width: 2px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-style: solid;
}

.menuItem:focus {
  border-bottom: #b6eefd;
  border-bottom-width: 2px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-style: solid;
  color: black;
}

.headerContainer {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
  align-items: flex-end;
}

.logo {
  height: 30px;
  flex-flow: row wrap;
  margin-bottom: -1.1%;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  background-color: rgba(0,0,0,0.8);
  position: relative;
  z-index: 100;
}

a {
  text-decoration: none;
}

.liMenu {
  list-style-type: none;
}

.immagineLogo {
  height: 50px;
}


.fooContainer{
  height: 100px;
  flex-flow: column nowrap;
  justify-content: center;
  display: flex;
  align-content: center;
  position: relative;
  background-color:rgba(0,0,0,0.8);
}

.fooElement{
  align-self: center;
  font-size: 9px;
}

.socialIcon{
  height: 20px;
}

.socialBox{
  margin-right: 1%;
}