.menuContainer {
  justify-content: space-around;
  align-content: flex-start;
}

.menuItem {
  display: flex;
  padding: 10px;
  width: 77%;
  justify-content: center;
  color: black;
}

.menuItem:hover {
  border-bottom: #909090;
  border-bottom-width: 2px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-style: solid;
  color: black;
}

.menuItemVisited{
  display: flex;
  padding: 10px;
  width: 77%;
  justify-content: center;
  color: black;
  border-bottom: #909090;
  border-bottom-width: 2px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-style: solid;
}

.menuItem:focus {
  border-bottom: #909090;
  border-bottom-width: 2px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-style: solid;
  color: black;
}

.headerContainer {
  display: flex;
  flex-flow: row wrap;
}

.logo {
  justify-content: flex-start;
  height: 30px;
  background-color: #d7d7d7;
  margin-bottom: -17px;
}

a {
  text-decoration: none;
}

.liMenu {
  list-style-type: none;
}

.immagineLogo {
  height: 50px;
}

.menuBar {
  background-color: #d7d7d7;
}
