/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: rgba(0,0,0,0.5);
  color: #61dbfb;
  z-index: 90;
  align-items: center;
}

/* Modal Body */
.modal-body {
  z-index: 90;
  width: 100%;
  background-color: #212121;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #212121;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  /* width: 50%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  z-index: 90;
}

.close {
  color: #61dbfb;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #b6eefd;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}

.popupBodyTop {
  display: flex;
  flex-flow: column nowrap;
  background-color: #212121;
  justify-content: flex-end;
}

.moreDetails,
.popupBodyBottom {
  /* display: flex; */
  /*     flex-flow: column wrap;
 */
  justify-content: left;
  text-align: start;
  align-self: center;
}

.moreDetails {
  margin: 0px;
  position: relative;
  margin-right: 4%;
}

.posterDetailImg {
  height: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.description {
  align-self: end;
  font-weight: bold;
}

.descriptionDetail {
  margin: 2%;
  padding: 2%;
}

.rate {
  list-style-type: none;
  color: yellow;
  text-shadow: 2px 2px 4px red;
}

.rateContainer {
  display: flex;
  flex-flow: row wrap;
}
