.carouselContainer {

  background-color: #1b1b1b;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

.carousel {
  overflow-x: scroll;
  z-index: 0;
  position:relative;
}

.item {
  background-color: #1b1b1b;
  opacity: 0.7;
  min-width: 20%;
  margin: 2px;
  z-index: 0;
}

.text {
  color: "#001866";
}

.button {
  border: none;
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 15px;
  color: #61dbfb;
  font-size: 70px;
  cursor: pointer;
  display: fixed;
}

.buttons-container {
  justify-content: space-between;
  display: flex;
  flex-flow: row nowrap;
  
}



.centerTxt {
  text-align: center;
  font-size: 0.6rem;
}


.posterImg, .resizeHighlightedImg{
  cursor: pointer;
}