.App {
  font-family: sans-serif;
  text-align: center;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 10px;
}

.item {
  background-color: #42d7f5;
  opacity: 0.7;
  min-width: 20%;
  margin: 2px;
}

.text {
  color: "#001866";
}

.button {
  background-color: #ffffff;
  border: 1px solid #001866;
  border-radius: 50px;
  color: #001866;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 400px) {
  .carousel {
    flex-direction: column;
    overflow-y: scroll;
  }
}

.posterImg{
  height: 220px;
}

.centerTxt{
  text-align: center;
  font-size: 0.6rem;
}